---
Checks: >
  -*,
  abseil-*,
  bugprone-*,
  -bugprone-unchecked-optional-access,
  -bugprone-easily-swappable-parameters,
  -bugprone-crtp-constructor-accessibility,
  -bugprone-macro-parentheses,
  -bugprone-narrowing-conversions,
  -bugprone-unhandled-self-assignment,
  -bugprone-implicit-widening-of-multiplication-result,
  -bugprone-multi-level-implicit-pointer-conversion,
  clang-analyzer-*,
  -clang-analyzer-apiModeling.Errno,
  -clang-analyzer-optin.core.EnumCastOutOfRange,
  -clang-analyzer-deadcode.DeadStores,
  -clang-analyzer-core.CallAndMessage,
  cppcoreguidelines-slicing,
  cppcoreguidelines-interfaces-global-init,
  google-default-arguments,
  hicpp-multiway-paths-covered,
  hicpp-exception-baseclass,
  misc-*,
  -misc-unused-parameters,
  -misc-no-recursion,
  -misc-non-private-member-variables-in-classes,
  -misc-const-correctness,
  -misc-include-cleaner,
  -misc-use-internal-linkage,
  modernize-*,
  -modernize-use-nodiscard,
  -modernize-loop-convert,
  -modernize-use-trailing-return-type,
  -modernize-use-equals-default,
  -modernize-use-equals-delete,
  -modernize-use-using,
  -modernize-use-auto,
  -modernize-use-override,
  -modernize-avoid-c-arrays,
  -modernize-type-traits,
  -modernize-avoid-c-style-cast,
  -modernize-return-braced-init-list,
  -modernize-macro-to-enum,
  performance-*,
  -performance-enum-size,
  -performance-no-int-to-ptr,
  -performance-unnecessary-copy-initialization,
  -performance-unnecessary-value-param,
  readability-*,
  -readability-braces-around-statements,
  -readability-use-anyofallof,
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-qualified-auto,
  -readability-uppercase-literal-suffix,
  -readability-function-cognitive-complexity,
  -readability-implicit-bool-conversion,
  -readability-make-member-function-const,
  -readability-redundant-access-specifiers,
  -readability-else-after-return,
  -readability-convert-member-functions-to-static,
  -readability-named-parameter,
  -readability-avoid-const-params-in-decls,
  -readability-static-accessed-through-instance,
  -readability-math-missing-parentheses,
  -readability-avoid-return-with-void-value,
  -readability-static-definition-in-anonymous-namespace

# needs cleanup:
# -readability-else-after-return
# -readability-named-parameter
# -modernize-avoid-c-style-cast
# -modernize-return-braced-init-list
# -modernize-use-using
# -modernize-use-auto
# -modernize-use-equals-default,
# -modernize-use-equals-delete,
# -modernize-use-override
# llvm-qualified-auto,
# -readability-static-accessed-through-instance
